<h1>Profile :  <%=current_user.email %>  </h1>

<%= link_to "Home", home_index_path, method: :get %>
<h2>Listing Followers </h2>
 
<table>
    
    <% @myfollower.each do |follower| %>
          <tr>
        <td><%= follower.username %></td> <br>
      </tr>
        <% end %>
</table>


<h2>Listing Following </h2>
 
<table>
    
    <% @myfollowing.each do |following| %>
      <br> 
      <tr>
        <%= following.email %>
        <%= link_to "Unfollow", unfollow_path(id: following.id), method: :post %>

      </tr>
      <br>
        <% end %>
</table>


<h2>Follow more people </h2>
 
<table>
    
    <% @notfollowing.each do |user| %>
      <br>
       <tr>
        <%= user.username %>
        <%= link_to "follow", follow_path(following_id: user.id), method: :post %>

      </tr>
      <br>
    <% end %>
</table>